.footer {
  background-color:#242038;
  border-radius: 35px;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 100px;
  padding-left: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer li {
  font-weight: 300;
  display: inline;
  padding-right: 200px;
  padding-left: 0;
  
}

