.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.navbar li {
  float: left;
  font-weight: 300;
  display: inline;
  padding-right: 240px;
  
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 10px; 
  color: rgb(22, 21, 21)
}