.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
  font-weight: 300;
  display: inline;
  padding-right: 110px;
  padding-left: 110px;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #cac4ce;
  font-size: 20px;
}

.nav-item {
  font-size: 18px;
}

.nav-item a {
  background-color: #9067c6;
  border-radius: 50px;
}

.nav-item a:hover {
  color: white;
}
