.home {
  background-color: #242038;
  border-radius: 35px;
  text-align: left;
  padding-top: 75px;
  padding-left: 75px;
}

.home h1 {
  color: #cac4ce;
}

.home h2 {
  color: #cac4ce;
}

.home p {
  color: #cac4ce;
  padding-left: 80px;
  padding-bottom: 18px;
  padding-right: 10px;
}

.home img {
  float: left;
  border-radius: 60px;
}
